table {
    td {
        padding-bottom: 24px;
    }
}


.detail-attedance {
    width: 100%;
    th {
        background-color: grey;
        padding: 4px;
        color: white;
    }
    td {
        padding: 8px 16px;
        vertical-align: top;
    }
}

.allowance-table {
    width: 100%;

    th {
        background-color: grey;
        padding: 4px;
        color: white;
    }

    td {
        padding: 8px 16px;
        vertical-align: top;
    }
}