.reimburse-form-table {
    td {
        padding-bottom: .75rem;  
    }
}

.reimburse-form-detail {
    
    td {
        padding-bottom: 1rem;
    }
}

.detail-attedance {
    width: 200px;
    td {
        padding-bottom: 16px;
        padding-left: 12px;
        padding-right: 12px;
        

    }
    thead {
        th {
            background-color: grey;
            color:white
        }
    }
    
}

.detail-bussiness {
    
    th {

        text-align: left;
        padding-bottom: 14px;
    }

    td {
        padding-bottom: 0.75rem;
    }
}